package {{ package_name }};

import com.micro.core.model.BaseDomainModel;x
import jakarta.validation.constraints.NotNull;
import jakarta.validation.constraints.Size;
import lombok.*;

import java.io.Serializable;
import java.math.BigDecimal;
import java.time.Instant;

/**
 * Domain model for {{ model_name }}
 */
@AllArgsConstructor
@NoArgsConstructor
@Getter
@Setter
@EqualsAndHashCode
public class {{ model_name }} extends BaseDomainModel {
    {% for field in fields %}
    private {{ field.type }} {{ field.name }};
    {% endfor %}
}
